#!/bin/bash
cd .salt-project-template
TELEGRAM_TOKEN=xxx \
	TELEGRAM_CHAT_ID=xxx \
	ALERTA_URL=xxx \
	ALERTA_API_KEY=xxx \
	HB_RECEIVER_HN=xxx \
	HB_TOKEN=xxx \
	ROOT_EMAIL=xxx \
	CLIENT=xxx \
	CLIENT_FULL=xxx \
	VENDOR=xxx \
	VENDOR_FULL=xxx \
	DEFAULT_TZ=xxx \
	CLIENT_DOMAIN=xxx \
	DEV_RUNNER=xxx \
	SENTRY_DOMAIN=xxx \
	SENTRY_AUTH_TOKEN=xxx \
	SENTRY_DSN_PUBLIC=xxx \
	UFW=ufw \
	# for salt with masters type
	SALT_MINION_VERSION=xxx \
	SALT_MASTER_1_NAME=xxx \
	SALT_MASTER_1_IP=xxx \
	SALT_MASTER_1_EXT_IP=xxx \
	SALT_MASTER_1_SSH_PUB=xxx \
	SALT_MASTER_2_NAME=xxx \
	SALT_MASTER_2_IP=xxx \
	SALT_MASTER_2_EXT_IP=xxx \
	SALT_MASTER_2_SSH_PUB=xxx \
	SALT_MASTER_PORT_1=xxx \
	SALT_MASTER_PORT_2=xxx \
	# for salt-ssh type
	PROD_RUNNER=xxx \
	SALTSSH_ROOT_ED25519_PUB=xxx \
	SALTSSH_RUNNER_SOURCE_IP_1=xxx \
	SALTSSH_RUNNER_SOURCE_IP_2=xxx \
	SALT_VERSION=xxx \
	./install.sh .. salt|salt-ssh
