  'srv1.example.com':
    - pkg.ssh_keys.__VENDOR__.backup_servers
    - pkg.tz.Etc_UTC
    - pkg.locale.en_US_UTF-8
    - users.__VENDOR__.admins
    - ufw_simple.standard
    - rsnapshot_backup.__CLIENT__.backup
    - app.__CLIENT__.dev
