  'srv1.example.com':
    - bootstrap.tz.Etc_UTC
    - bootstrap.locale.en_US_UTF-8
    - bootstrap.__CLIENT__.srv1_example_com
    - users.__VENDOR__.admins
    - rsnapshot_backup.__CLIENT__.backup
    - app.__CLIENT__.dev
